.btn {
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  padding: 3px 10px;
  cursor: pointer; }

.order {
  width: 16px;
  height: 16px;
  text-align: right;
  display: inline-block;
  cursor: pointer; }
  .order.up {
    background: url("./asset/up.svg");
    background-position: center;
    background-repeat: no-repeat; }
  .order.down {
    background: url("./asset/down.svg");
    background-position: center;
    background-repeat: no-repeat; }

.tooltip {
  position: absolute;
  width: 260px;
  height: auto;
  padding: 15px 18px;
  text-align: left;
  font-size: 14px;
  color: #616161;
  font-weight: normal;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(210, 70, 95, 0.5);
  border-radius: 12px;
  z-index: 10; }
  .tooltip .tooltip__title {
    color: #f2b200;
    font-weight: bold;
    margin-bottom: 5px; }

.tooltip__up::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  top: -10px;
  left: 20px;
  border-color: transparent transparent #fff transparent; }

.tooltip__down::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  bottom: -10px;
  left: 20px;
  border-color: #fff transparent transparent transparent; }

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 524px;
  height: 377px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 2px 14px 0 rgba(5, 176, 116, 0.73);
  background-color: #ecf7ea; }
  .popup > *:not(:first-child) {
    margin: 20px auto; }
  .popup .btn {
    color: white;
    background-color: #05b074;
    border: 1px solid #05b074;
    padding: 10px 37px;
    cursor: pointer; }
    .popup .btn:hover {
      color: #05b074;
      background-color: white;
      border: 1px solid white; }
  .popup .popup__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }

.pagination {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .pagination .pagination__btn {
    margin: 0 10px;
    border: 1px solid #05b074;
    padding: 5px 8px;
    border-radius: 20px; }
    .pagination .pagination__btn:hover {
      background-color: #c6e6bf; }
  .pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .pagination ul li {
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 30px;
      height: 30px;
      font-size: 16px;
      color: white;
      border-radius: 15px;
      color: #05b074; }
      .pagination ul li.now {
        border: 1px solid #05b074;
        background: #05b074;
        color: #fff; }

.back {
  position: fixed;
  background: url("./asset/top.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 33.33%;
  z-index: 10;
  margin-right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer; }

.success {
  font-weight: bold;
  color: #05b074; }

.fail {
  font-weight: bold;
  color: #d2465f; }

.warning {
  font-size: 14px;
  color: #ee7f02; }
  .warning:before {
    content: ' ';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("./asset/warm.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-top: 2px; }

.info:after {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("./asset/tooltips.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 2px; }

.link {
  text-decoration: underline;
  cursor: pointer; }

.type {
  background: #c3e3e3;
  color: #008cbb;
  border-radius: 20px;
  margin-top: 2px;
  font-size: 12px;
  cursor: pointer; }

.icon__wrapper {
  width: 100%; }

.icon {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 70%;
  display: inline-block;
  background: url("./asset/term.svg");
  background-position: center;
  background-repeat: no-repeat; }

.vip {
  background: #fdeab0;
  margin-left: 15px;
  padding: 7px 13px;
  border-radius: 20px;
  font-size: 18px;
  color: #f2b200; }
  .vip::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    background: url("./asset/diamond.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.tag {
  color: #05b074; }

.annotate {
  font-size: 14px;
  color: #0081b8; }

.hidden {
  display: none; }

.shadow {
  box-shadow: -13px 8px 13px 3px rgba(5, 176, 116, 0.45); }

* {
  transition: .2s;
  box-sizing: border-box;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  cursor: default;
  font-family: 'Lato', 'Noto Sans TC'; }

body, html {
  width: 100%;
  margin: 0;
  height: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

p, h1 {
  margin: 0; }

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  color: #616161;
  display: block; }

button {
  border: none; }

header {
  width: 66.666%;
  position: fixed;
  z-index: 5; }

.header__warning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 63px;
  background: #05b074;
  transition: .2s;
  height: 63px; }
  .header__warning > * {
    margin-top: 4px;
    text-align: center; }
  .header__warning h1 {
    font-size: 16px;
    color: white; }
  .header__warning p {
    font-size: 12px;
    color: #fff; }
  .header__warning.hidden {
    height: 0px; }
    .header__warning.hidden p {
      opacity: 0; }
    .header__warning.hidden h1 {
      opacity: 0; }

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  height: 82px;
  background: #bdebbf; }
  .header__search button.btn {
    padding: 10px 40px;
    color: white;
    background-color: #05b074;
    border: 1px solid #05b074;
    box-shadow: 0 6px 12px 0 #85cbcb; }
    .header__search button.btn:hover {
      color: #05b074;
      background-color: white;
      border: 1px solid white; }
    .header__search button.btn:hover {
      cursor: pointer; }

.search__input {
  margin-right: 37px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input > * {
    margin-right: 30px; }
  .search__input input[type='text'] {
    width: 204px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #a7a8aa;
    padding: 10px;
    cursor: pointer; }
    .search__input input[type='text']:focus {
      outline: none;
      box-shadow: 0 0 7px 2px rgba(5, 176, 116, 0.61); }
  .search__input input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    background-color: white;
    box-shadow: 0 0 0 4px white, 0 0 0 5px #05b074;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer; }
    .search__input input[type="radio"]:checked {
      outline: none;
      background: #05b074; }

.input__label {
  display: flex;
  justify-content: center;
  align-items: center; }
  .input__label > * {
    margin-right: 10px; }

.header__result {
  width: 100%;
  height: 129px;
  padding: 10px 0;
  background: #e9f9ea; }

.result__title {
  position: relative;
  display: inline-block;
  margin-left: 50%;
  font-size: 16px;
  text-align: center;
  color: #616161;
  font-weight: bold;
  z-index: 2;
  opacity: 1;
  transform: translate(-50%, 0);
  transition: opacity .2s; }
  .result__title.hidden {
    opacity: 0; }

.result__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: .2s; }
  .result__list.hidden {
    transform: translateY(-30px);
    transition: .2s; }
  .result__list li {
    padding: 10px 50px;
    margin-right: 20px;
    color: #f2b200;
    background-color: white;
    border: 1px solid white;
    border: 1px solid #f2b200;
    cursor: pointer; }
    .result__list li:hover {
      color: white;
      background-color: #f2b200;
      border: 1px solid #f2b200; }

.result__info {
  padding-left: 30px;
  text-align: left;
  font-size: 12px;
  color: #333333;
  opacity: 1; }
  .result__info.hidden {
    opacity: 0; }

main {
  width: 66.66%;
  position: absolute;
  top: 274px; }

.navigation {
  position: relative;
  background: #fff; }
  .navigation ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; }
    .navigation ul li {
      position: relative;
      padding-left: 34.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #616161;
      cursor: pointer; }
      .navigation ul li.select {
        font-weight: bold;
        color: #05b074; }
    .navigation ul li:not(:last-child):after {
      margin-left: 34.6px;
      content: '|';
      color: #616161;
      font-weight: normal; }

.todos {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background: #ea6e76;
  color: white;
  font-size: 12px;
  border-radius: 8px; }

.tables {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: scroll; }

thead {
  background: rgba(195, 227, 227, 0.4); }
  thead td {
    width: auto;
    height: 30px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    color: #616161; }
    thead td:first-child {
      border-top-left-radius: 10px; }
    thead td:last-child {
      border-top-right-radius: 10px; }

table {
  text-align: left;
  border-collapse: seperate;
  border-spacing: 0;
  margin: 10px;
  width: 1260px;
  word-break: break-word;
  border-radius: 10px;
  border: 1px solid rgba(195, 227, 227, 0.4); }
  table th {
    max-width: 85px;
    border: 1px solid rgba(195, 227, 227, 0.4);
    border-right: none;
    border-bottom: none;
    padding: 12px 20px;
    font-size: 16px;
    color: #616161;
    font-weight: bold;
    vertical-align: top;
    line-height: 22px; }
  table td {
    font-size: 16px;
    color: #616161;
    padding: 12px 20px;
    border: 1px solid rgba(195, 227, 227, 0.4);
    border-left: none;
    border-bottom: none;
    vertical-align: top; }
    table td:last-child {
      border-right: none; }
    table td p.warning {
      margin-top: 5px;
      margin-left: 20px; }
    table td.btn__list {
      width: 33.33%; }
    table td .btn {
      color: #05b074;
      background-color: white;
      border: 1px solid white;
      border-radius: 30px;
      margin: 7.5px;
      min-width: 150px;
      border: 1px solid #05b074; }
      table td .btn:hover {
        color: white;
        background-color: #05b074;
        border: 1px solid #05b074; }

.basic th {
  width: 175px; }

.basic td:nth-child(2) {
  border-right: none; }

.basic td:nth-child(3) {
  width: 215px;
  border-left: none;
  border-right: 1px solid rgba(195, 227, 227, 0.4); }

.contact th {
  width: 175px; }

.contact tr:nth-child(2) td:first-child {
  width: 200px; }

.contact tr:nth-child(2) td:nth-child(2) {
  width: 240px; }

.contact td:nth-child(2) {
  border-right: none; }

.contact td:nth-child(3) {
  border-left: none; }

.contact tr:last-child td:last-child {
  border-right: 1px solid rgba(195, 227, 227, 0.4); }

.customer td:nth-child(2) {
  border-right: none; }

.customer td:nth-child(3) {
  border-left: none; }

.customer td:last-child {
  width: 33.33%; }

.event td {
  text-align: center; }

.products {
  text-align: center; }
  .products .subhead {
    padding: 7px 5px;
    font-size: 14px;
    background: #f1f1f1;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold; }
    .products .subhead .subhead__wrapper {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
      flex: 1; }
    .products .subhead .order__key {
      cursor: pointer; }
    .products .subhead:nth-child(2) {
      width: 130px; }
    .products .subhead:nth-child(5), .products .subhead:nth-child(8) {
      width: 110px; }
    .products .subhead:nth-child(6), .products .subhead:nth-child(9) {
      width: 100px; }
    .products .subhead:nth-child(11) {
      width: 120px; }
  .products td {
    padding: 10px 5px; }

.table__link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-left: 1px solid #f2b200; }

#tooltip-sameId {
  margin-top: 10px;
  margin-left: 80px; }

#tooltip-vip {
  margin-top: 20px;
  margin-left: 130px; }

#tooltip-notRecommend {
  margin-top: -100px;
  margin-left: 130px; }
