-var service=['網路服務','網路投保','行動投保','電子單號','會員網站','易call保','ID一指通','保單一指通','ATM保貸','簽樣卡']
-var productInfo=[{name: '序號', key: 'ID'}, {name:'保單號碼收費代號', key: 'POLICY_NO'}, {name: '商品名稱', key: 'PROD_SNAME'},{name: '要保人姓名', key: 'APC_NAME'}, {name: '要保人ID', key: 'APC_ID'},{name:'要保人生日', key:'APC_BRDY'},{name:'被保人姓名', key:'INSD_NAME'},{name: '被保人ID', key: 'INSD_ID'},{name:'被保人生日', key: 'INSD_BRDY'},{name:'契約狀況', key: 'EFT_CODE'},{name:'下次應繳日/繳費管道', key: 'MNXT_PAY_DATE'},{name: '墊繳本息', key: 'AUTO_PREM_AMTINT'},{name: '貸款金額/貸款利息', key: 'LOAN_BAL'},{name: '繳息終期', key: 'INT_END_DATE'}]
