-var service=['網路服務','網路投保','行動投保','電子單號','會員網站','易call保','ID一指通','保單一指通','ATM保貸','簽樣卡']
-var productInfo=['序號', '保單號碼收費代號', '商品名稱', '要保人姓名', '要保人ID', '要保人生日', '被保人姓名', '被保人ID','被保人生日', '契約狀況','下次應繳日/繳費管道', '墊繳本息', '貸款金額/貸款利息', '繳息終期']
