@import ./style.sass

+initialize

header
  width: 66.666%
  position: fixed
  z-index: 5

.header__warning
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  +size(100%, 63px)
  background: $primary
  transition: .2s
  height: 63px
  & > *
    margin-top: 4px
    text-align: center
  h1
    +font(16px, white)
  p
    font-size: 12px
    color: #fff
  &.hidden
    height: 0px
    p
      opacity: 0
    h1
      opacity: 0

.header__search
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 0
  margin: 0
  +size(100%, 82px)
  background: $primaryLight
  button.btn
    padding: 10px 40px
    +btn($primary, white)
    box-shadow: 0 6px 12px 0 #85cbcb
    &:hover 
      cursor: pointer

.search__input
  margin-right: 37px
  display: flex
  justify-content: center
  align-items: center
  &>*
    margin-right: 30px
  input[type='text']
    +size(204px, 40px)
    border-radius: 4px 
    border: solid 1px #a7a8aa
    padding: 10px
    cursor: pointer
    &:focus  
      outline: none
      box-shadow: 0 0 7px 2px rgba(5, 176, 116, 0.61)
  input[type="radio"] 
    display: none
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    -o-appearance: none
    appearance: none
    background-color: white
    box-shadow: 0 0 0 4px white, 0 0 0 5px $primary
    border-radius: 10px
    width: 100%
    display: inline-block
    width: 12px
    height: 12px
    cursor: pointer
    &:checked
      outline: none
      background: $primary

.input__label
  display: flex
  justify-content: center
  align-items: center
  &>*
    margin-right: 10px

.header__result 
  +size(100%, 129px)
  padding: 10px 0
  background: $primaryLighter

.result__title 
  position: relative
  display: inline-block
  margin-left: 50%
  font-size: 16px 
  text-align: center
  color: $text
  font-weight: bold
  z-index: 2
  opacity: 1
  transform: translate(-50%, 0)
  transition: opacity .2s
  &.hidden
    opacity: 0

.result__list 
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  padding-left: 30px
  +size(100%, auto)
  transform: translateY(0)
  transition: .2s
  &.hidden
    transform: translateY(-30px)
    transition: .2s
  li
    display: flex
    justify-content: center
    align-items: center
    margin-right: 20px
    +btn(white, $secondary)
    border: 1px solid $secondary
    cursor: pointer
    width: 200px
    height: 35px
    font-size: 16px
    font-weight: normal
    
.result__info
  padding-left: 30px
  text-align: left
  font-size: 12px
  color: #333333
  opacity: 1
  &.hidden
    opacity: 0
  
main
  width: 66.66%
  position: absolute
  top: 330px

.navigation 
  position: relative
  height: 54px
  background: rgba(255, 255, 255, 0.8)
  ul
    margin: 0
    display: flex
    justify-content: center
    +size(100%, 100%)
    li
      position: relative
      padding-left: 34.6px
      display: flex
      justify-content: center
      align-items: center
      +font(16px, #616161)
      cursor: pointer
      &.select
        font-weight: bold
        color: $primary
    li:not(:last-child):after 
      margin-left: 34.6px
      content: '|'
      color: #616161
      font-weight: normal

.todos
  display: inline-block
  vertical-align: middle
  text-align: center
  margin-left: 10px
  +size(16px, 16px)
  background: #ea6e76
  color: white
  font-size: 12px
  border-radius: 8px
      
.tables 
  position: relative
  display: flex
  align-items: flex-start
  flex-direction: column
  overflow-x: scroll
  
thead
  background: $header
  td
    +size(auto, 30px)
    padding: 0
    text-align: center
    +font(16px, $text)
    &:first-child
      border-top-left-radius: 10px
    &:last-child
      border-top-right-radius: 10px
table 
  text-align: left
  border-collapse: seperate
  border-spacing: 0
  margin: 10px 
  width: 1260px
  word-break: break-word
  border-radius: 10px
  border: 1px solid $header
  th
    max-width: 85px
    border: 1px solid $header
    border-right: none
    border-bottom: none
    padding: 12px 20px
    +font(16px, $text)
    font-weight: bold
    vertical-align: top
    line-height: 22px
  td
    +font(16px, $text)
    padding: 12px 20px
    border: 1px solid $header
    border-left: none
    border-bottom: none
    vertical-align: top
    &:last-child
      border-right: none
    p.warning
      margin-top: 5px
      margin-left: 20px
    &.btn__list
      width: 33.33%
    .btn
      +btn(white, $primary)
      border-radius: 30px
      margin: 7.5px
      min-width: 150px
      border: 1px solid $primary

.basic 
  th
    width: 175px
  td
    &:nth-child(2)
      border-right: none
    &:nth-child(3)
      width: 215px
      border-left: none
      border-right: 1px solid $header

.contact 
  th
    width: 175px
  tr:nth-child(2)
    td:first-child
      width: 200px
    td:nth-child(2)
      width: 240px
  td
    &:nth-child(2)
      border-right: none
    &:nth-child(3)
      border-left: none
  tr:last-child
    td:last-child
      border-right: 1px solid $header


.customer
  td 
    &:nth-child(2)
      border-right: none
    &:nth-child(3)
      border-left: none
    &:last-child
      width: 33.33%
.event
  td
    text-align: center
.products
  text-align: center
  .subhead
    padding: 7px 5px
    font-size: 14px
    background:#f1f1f1
    border-radius: 0
    cursor: pointer
    font-weight: bold
    .subhead__wrapper
      max-width: 85%
      display: flex
      justify-content: center
      flex-basis: 100%
      flex: 1
      margin: 0 auto
    .order__key
      cursor: pointer
    &:nth-child(1)
      width: 64px
    &:nth-child(2)
      width: 130px
    &:nth-child(5), &:nth-child(8) 
      width: 110px
    &:nth-child(6), &:nth-child(9)
      width: 80px
    &:nth-child(11)
      width: 120px
    &:nth-child(13)
      width: 100px
  td
    padding: 10px 5px

.table__link
  display: flex
  flex-wrap: wrap
  width: 100%
  border-left: 1px solid $secondary

// hover box adjustment
#tooltip-sameId
  margin-top: 10px
  margin-left: 80px
#tooltip-vip
  margin-top: 20px
  margin-left: 130px
#tooltip-notRecommend
  margin-top: -100px
  margin-left: 130px


